@CHARSET "utf-8";

body { padding-top: 70px; }

.footer {
  background-color: #f5f5f5;
  margin-top:10px;
  bottom: 0px;
  height: 60px;
/*  position: absolute; */
  width: 100%;
}

h4 span.date {
	font-size:12px;
}

h2 span.serves {
	font-size:16px;
}


/* recent recipes */
#recent-recipes {
	margin-top:10px;
	border-top: 1px solid #CCC;
	padding-top:10px;
	padding-bottom:10px;
}


/* search results */
#searchresults .result {
	border-bottom: 1px solid #CCC;
	padding-top:10px;
	padding-bottom:10px;
	
}

#searchresults .result .title {
	font-size:20px;
	font-weight: bold;
}

#searchresults .result .date {
	font-size:10px;
}
